.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.title {
  padding: 1rem;
}

.description {
  padding: 0 1rem;
}
