.search-bar-div {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #20bf55; */
  /* background-image: linear-gradient(110deg, #20bf55 0%, #01baef 74%); */
  border: solid;
  border-radius: 50px;
}
